* {
    box-sizing: border-box;
    margin: 0 3%;
    /*border: 1px solid red;*/

}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.display-disney-data{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
}